
<!DOCTYPE html>

<html>
<header>
 <div class="contenedor">
  <h2>Empresas</h2>
 </div>
</header>

<main>
   <div>
    <p>Gestione sus empresas</p>
    <a routerLink="/home/crear-empresa">
    <button>
     CREAR EMPRESA
    </button> </a>
    <table>
     
     <!-- tr -- table row -->
     <tr>
      <!-- tr -- table header-->
      <th> id </th>
      <th> Nombre </th>
      <th> Razon Social </th>
      <th> Telefono </th>
      <th> Correo </th>
      <th> Accion </th>
     </tr>
     
     <tr *ngFor="let empresa of empresas">
      <td> {{empresa.id }} </td>
      <td> {{empresa.nombre}} </td>
      <td> {{empresa.razonSocial}} </td>
      <td> {{empresa.telefono}} </td>
      <td> {{empresa.correo}} </td>
      
      
      <td>
      <button (click)="eliminar(empresa)"> Eliminar </button>
      </td>
     </tr>
 


<!-- Directivas con importantes -->
     <!-- *ngFor   Itera un Arreglo -->
    </table>
   </div>
</main>
</html>

<router-outlet> </router-outlet>

