
/*
contenedor {
 width: 98%;
 margin: auto;
 border-left: 100px;
}*/


/*div {
 width: 50%;
 border: black 3px solid;
 margin-left: auto;
 margin-right: auto;
}*/

div {
 width: 70%;
 margin-left: auto;
 margin-right: auto;
}



table{
 background-color: white;
 text-align: left;
 border-collapse: collapse;
 width: 100%;
}

th, td{
 padding: 20px;
}

th{
 background-color: #246355;
 border-bottom: solid 5px #0F362D;
 color: white;
}

tr:nth-child(even){
 background-color: #ddd;
}

tr:hover td{
 background-color: #369681;
 color: white;
}



