//raza-rest,service

import {Injectable} from "@angular/core";
import {HttpClient} from "@angular/common/http";
import {Observable} from "rxjs";
import {Empresa} from "../../interfaces/empresa";
import {environment} from "../../../environments/environment";

@Injectable()

//Constructor sirve para inyectar dependencias.
export class EmpresaRest {

 nombreModelo = '/Empresa';

 constructor(private readonly _httpClient: HttpClient) {

 }

 buscarTodo(): Observable<Empresa []> {
  // http client es un observable
  const empresa$ = this._httpClient
   .get(environment.url + this.nombreModelo);
  return empresa$;
 }


}
