/*#page {
  margin:0px auto;
  width:900px;
}

#header{
  position: fixed;
  top:0;
  width:900px;
  height:80px;
  background-color:#333;
  color:#FFFFFF;
  //padding:60px;
  padding-top: auto;
}
* html body{
  overflow:hidden;
}
#content{
  height:100%;
  overflow:auto;
  padding:80px;
  width:900px;
}
*/

body {
  margin: 0;
  padding: 0;
  background: url(/assets/img/02.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
