<!--
<html>
<head>

</head>
<body>
<div id="page">

  <div id="header">
    <h1 align="center"> Control de Ventilacion </h1>
  </div>

  <div id="content">
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
    <p>contenido</p>
  </div>
</div>
</body>
</html>




<app-my-head> </app-my-head>
<app-ruta-login></app-ruta-login>
-->
<router-outlet></router-outlet>


