<!DOCTYPE html>
<html>
<header>
  <div class="contenedor">
    <h1 class="icon-dog">Airiness</h1>
    <input type="checkbox" id="menu-bar">
    <label class="fontawesome-align-justify" for="menu-bar"></label>
    <nav class="menu">
      <a routerLink="/home/gestion_empresas">Empresas</a>
      <a routerLink="/home/gestion_sucursales">Sucursales</a>
      <a routerLink="/home/gestion_areas">Areas</a>
      <a routerLink="/home/sistema_ventilacion">Sistema Ventilacion</a>
    </nav>
  </div>
</header>

<main>
  <section id="banner">
    <img [src]="'assets/img/03.jpg'">
    <div class="contenedor">
      <h2>Bienvenido</h2>
      <p>Sistema de ventilacion Airiness </p>
    </div>
  </section>
</main>


<router-outlet> </router-outlet>



<footer>
  <div class="contenedor">
    <p class="copy">Airiness &copy; 2019</p>
    <div class="sociales">
      <a class="fontawesome-facebook-sign" href="#"></a>
      <a class="fontawesome-twitter" href="#"></a>
      <a class="fontawesome-camera-retro" href="#"></a>
      <a class="fontawesome-google-plus-sign" href="#"></a>
    </div>
  </div>
</footer>

</html>


